h2{
    background-image: linear-gradient(to right,red,green,yellow);
    text-align: center;
    text-decoration: underline;
}
ul{
    background-color: dodgerblue;
    text-align: center;
    width: 50%;
    margin-left: 300px;
    border: 3px solid red;
    font-size: 20px;
    border-radius: 10px;
}
.a1{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    background-color: lightcoral;
    border: 3px solid purple;
    border-radius: 10px;
    width: 99%;
    margin-top: 30px;
   
}
.one{
    text-align: center;
    border: 3px solid green;
    border-radius: 10px;
    width:30%;
    margin-bottom: 3px;
    padding: 10px;
    margin-top: 5px;
   
}
h3{
    height: 5vh;
    background-image:linear-gradient( to right,red,yellow,red);
    text-align: center;
    text-decoration:underline;
    padding: 8px;
}
.b1{
    display:flex;
    justify-content:space-evenly;
    background-image:radial-gradient(blue,green
    );
}
.two{
    text-align: center;
    margin: 10px;
    background-color: chocolate;
    border: 2px solid crimson;
    font-size: 18px;
    border-radius: 10px;
    line-height: 28px;
    width: 200px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.container{
    display:grid;
    grid-gap: 20px;
    width: fit-content;
    margin: 50px, auto;
    grid-template-rows: 60px 100px 200px 60px;
    grid-template-columns: repeat(3,1fr) 100px;
    margin-top: 30px;
    border: 1px solid black;
    height: 453px;
}
.item1{
    background-color: #ff0000;
    grid-column: 1/5;
    text-align: center;
    color: white;
    font-style:bold;
    font-size:x-large;
    line-height: 59px;
}
.item2{
    background-color: mediumseagreen;
    text-align: center;
    color: white;
    font-style:bold;
    font-size:x-large;
    line-height: 31px;
    padding-top: 10px;

}
.item3{
    background-color:orchid;
    text-align: center;
    color: white;
    font-style:bold;
    font-size:x-large;
    line-height: 31px;
    padding-top: 10px;
}
.item4{
    background-color: goldenrod;
    text-align: center;
    color: white;
    font-style:bold;
    font-size:x-large;
    line-height: 31px;
    padding-top: 10px;

}
.item5{
    background-color: black;
    grid-row: 2/4;
    grid-column:4/5;
    font-size: 18px;
    color: white;
    margin-left: -10px;
    line-height: 28px;
}
.item6{
    background-color: indianred;
    grid-column: 1/4;
    color: white;
    font-style:bold;
    font-size:x-large;
    padding: 2px;
    line-height: 40px;
    padding-top: 10px;
}
.item7{
    background-color: midnightblue;
    grid-column: 1/-1;
    font-style:bold;
    font-size:x-large;
    text-align: center;
    height: 5vh;
    line-height: 36px;
    border-bottom: 3px solid balck;
}